### 2.3 복합자료형

#### [리스트]

복합 자료형에는 리스트, 튜플, 딕셔너리, 집합의 자료형이 있는데, 리스트는 실무에서 가장 많이 활용한다.   
리스트는 여러 개의 데이터를 하나의 변수에 담을 수 있다. 대괄호로[] 표현하고 대괄호 안에 실제 데이터가 들어간다.

리스트는 대괄호로 표현해야 하며, 다른 괄호는 오류가 난다.

In [87]:
test=[75,69,95,84,89]
food=["milk", "juice", "rice", "soup", "cookie"]
print(test[2])
print(food(3:5)

SyntaxError: invalid syntax (387309774.py, line 4)

In [78]:
print(test[2])

l

In [89]:
a=[]
b=[1,2,3,4,5]
c=["I","like", "python"]
d=[1,2,"python"]
e=[1,2,["python", "c", "java"]]

연산, 인덱싱, 슬라이싱을 복합 자료형에도 사용할 수 있다.

In [81]:
a=[3,7,9]
b=[4,6,7]
print(a+b)

[3, 7, 9, 4, 6, 7]

In [82]:
print(a*3)

[3, 7, 9, 3, 7, 9, 3, 7, 9]

리스트도 인덱싱과 슬라이싱이 가능하다.

In [83]:
test=[75,69,95,84,89]
food=["milk","juice","rice","soup","cookie"]

In [84]:
print(test[2])

95

In [85]:
print(food[3:5])

['soup', 'cookie']

중첩 리스트도 인덱싱과 슬라이싱을 할 수 있다. 중첩리스트는 리스트 안에 리스트가 있는 구조이며, **리스트 안의 리스트는 하나의 데이터**로 취급된다.

In [90]:
a=[1,2,["python","C","java"]]
print(a[2])
print(a[2][:2])

['python', 'C', 'java']
['python', 'C']

리스트의 변경과 삭제가 가능하다. 변수명[위치]=변경할 값이고, 리스트 내의 데이터를 삭제하려면 del명령문을 사용한다.

In [91]:
a=[1,3,5,7,6,2,4]
a[3]=8
print(a)

[1, 3, 5, 8, 6, 2, 4]

In [92]:
a=[1,3,5,9,7,5,2]
del a[3]
print(a)

[1, 3, 5, 7, 5, 2]

리스트 자료형에 다양한 함수를 붙여, 데이터 추가, 원하는 위치에 데이터 삽입, 데이터 삭제를 할 수 있다.   
변수명.함수명(x) 이 때 x는 데이터(숫자, 문자열, 리스트 또는 인덱스 값)

In [93]:
a=[1,2,3,4]
a.append(3)
print(a)

[1, 2, 3, 4, 3]

In [94]:
a.append([3.5.9])
print(a)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1844009871.py, line 1)

append()함수를 이용하여 리스트 변수의 마지막에 데이터를 추가할 수 있다. 또한 append()함수 안에 리스트를 입력하면 중첩리스트를 만들 수 있다.

In [95]:
a.append([3,5,9])
print(a)

[1, 2, 3, 4, 3, [3, 5, 9]]

insert()함수는 원하는 위치에 데이터 추가할 수 있다. a.insert(원하는 인덱스 위치, 삽입변수)

In [96]:
a=[1,2,3,4]
a.insert(0,7)
print(a)

[7, 1, 2, 3, 4]

remove()함수는 리스트 안에 일치하는 데이터를 삽입할 수 있다. 리스트 변수 a에서 첫번째 일치하는 값을 삭제할 수 있다.

In [97]:
a=[1,2,3,4,5,4,3,2,1]
a.remove(4)
print(a)

[1, 2, 3, 5, 4, 3, 2, 1]

a.sort()함수를 사용하면 리스트 안의 변수를 오름차순으로, a.sort(reverse=True)함수를 사용하면 내림차순으로 변경된다.   
a.recerse()함수를 사용하면 현재 데이터의 순서를 뒤집는다.

In [98]:
a=[1,3,5,7,6,2,4]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [99]:
a=[1,3,8,6,7,1,5,6,9]
a.sort(reverse=True)
print(a)

[9, 8, 7, 6, 6, 5, 3, 1, 1]

In [100]:
a=[1,3,5,7,6,2,4,8,6]
a.reverse()
print(a)

[6, 8, 4, 2, 6, 7, 5, 3, 1]

pop()함수는 리스트에서 맨 마지막에 있는 데이터를 보여주거나, x번 인덱스에 있는 데이터를 보여주고 그 데이터를 삭제한다.   
pop()의 괄호안에 값이 없으면 맨 마지막 데이터를 삭제한다.

In [101]:
a=[1,5,3,5,8,7,6,4]
print(a.pop())
print(a)

4
[1, 5, 3, 5, 8, 7, 6]

pop(x)가 있으면 x번의 인덱스 값을 보여주고 그 데이터를 삭제한다.

In [102]:
a=[5,6,5,1,7,2,3,5]
print(a.pop(5))
print(a)

2
[5, 6, 5, 1, 7, 3, 5]

extend()함수는 리스트 끝에 다른 리스트의 데이터를 추가할 수 있다.   
append()함수는 리스트 끝에 **하나**의 데이터를 extend()함수는 리스트 끝에 **여러** 데이터를 추가할 수 있다.

In [103]:
a=[1,3,5,9,7,5,6]
a.extend([5,6,8])
print(a)

[1, 3, 5, 9, 7, 5, 6, 5, 6, 8]

In [104]:
a=[6,5,7,2,3,5]
b=[9,8,7]
a.extend(b)
print(a)

[6, 5, 7, 2, 3, 5, 9, 8, 7]

#### [튜플]

튜플 자료형은 여러 개의 자료를 묶어 하나로 처리하는 유형. 리스트는 대괄호[]로 표현하지만 튜플은 소괄호()로 표현한다.   
리스트는 리스트 내의 데이터를 추가, 삭제, 수정할수 있지만, 튜플은 수정이 불가하다. 

변수명 = (데이터1, 데이터2, 데이터3,...)  

tp1=( )  
tp2=(1, ) #데이터가 하나만 있는 튜플의 경우 데이터 뒤 **쉼표** 필수 입력  
tp3=(1,2,3)  
tp4=1,2,3  #괄호 생략 가능  
tp5=("a","b",("ab","cd"))

In [105]:
tp1=(1,2,3,"a","b","c")
tp2=(4,5,6)
print(tp1+tp2)
print(tp1*2)

(1, 2, 3, 'a', 'b', 'c', 4, 5, 6)
(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

In [107]:
tp=(1,2,("ab","vd","df"),3,"a","b","v")
print(tp[2])
print(tp[2][:2])

('ab', 'vd', 'df')
('ab', 'vd')

#### [딕셔너리]  

딕셔너리 자료형은 사전 형식을 가지고 있다.  
딕셔너리 자료형도 찾을 단어에 해당하는 key 값과 단어 뜻에 해당하는 value 값으로 구성되어 있다.  

중괄호{}를 사용하고, key와 value 값을 쌍으로 찾는다.   

변수명 = {Key1:Value1, Key2:Value2, Key3:Value3,...}  
이 때, Key는 변하지 않는 값이어야 하고, Value는 변하는 값이나 변하지 않는 값 모두 가능하다.

In [121]:
dict1={"name":"Lee","age":29,"birth":"0320"}
dict2={1:"ab"} #Key에 정수형, Value에 문자형 자료
dict3={"test":[1,3,5,7]} #Value에 리스트 자료형

dict에 데이터 쌍을 추가하라.

In [124]:
my_dict={"a":[1,2],"b":[3,4],"c":[5,6]}
print(my_dict["a"])

[1, 2]

In [125]:
my_dict2={"a":[1,2]}
my_dict2["b"]=[3,4]
print(my_dict2)

{'a': [1, 2], 'b': [3, 4]}

In [127]:
my_dict3={"a":[1,2],"b":[3,4],"c":[5,6]}
print(dict)

{'a': [1, 2], 'b': [3, 4], 'c': [5, 6]}

In [128]:
list1=[["a",2],["b",4],["c",6]]
dict(list1)

{'a': 2, 'b': 4, 'c': 6}

In [129]:
list2=[("a",2),("b",5),("c",4)]
dict(list2)

{'a': 2, 'b': 5, 'c': 4}

In [1]:
tp1=(["a",2],["b",4],["c",6])
dict(tp1)

{'a': 2, 'b': 4, 'c': 6}

In [2]:
tp2=(("a",2),("b",4),("c",6))
dict(tp2)

{'a': 2, 'b': 4, 'c': 6}

딕셔너리 자료형은 순서가 없기 떄문에 인덱스로 데이터를 추출할 수 없다.   
그러나 Key 와 Value를 추출하기 위해 여러 함수를 사용할 수 있다.

Key()와 Value()함수

In [4]:
dict1={"name":"Lee","age":20,"birth":"0320"}
print(dict1.keys())
print(list(dict1.keys()))

dict_keys(['name', 'age', 'birth'])
['name', 'age', 'birth']

In [6]:
list(dict1.values())

['Lee', 20, '0320']

Items()함수

In [7]:
dict2={"name":"Lee","age":20,"birth":"0320"}
dict2.items()

dict_items([('name', 'Lee'), ('age', 20), ('birth', '0320')])

Clear()함수는 Key와 Value를 모두 지울 수 있다.

In [8]:
dict3={"name":"Lee","age":20,"birth":"0228"}
dict3.clear()
print(dict3)

{}

집합(Set) 자료형은 집합과 관련된 것을 표현한다. 
괄호()안에는 리스트나 문자열이 온다.   

숫자로 된 리스트를 만들어 집합으로 지정하거나 문자열을 집합으로 지정하면, 개별 문자로 분해되고 중복 문자는 제거된다.

In [9]:
set1=set([1,2,3,4,5,6,3])
print(set1)

{1, 2, 3, 4, 5, 6}

In [10]:
set2=set("school bus")
print(set2)

{'u', 'b', 'o', 'l', ' ', 's', 'c', 'h'}

set 자료형의 교집합

In [11]:
set1=set([1,2,4,5,6,3,5,3])
set2=set([6,4,7,8,3,5,4])
print(set1&set2)
print(set1.intersection(set2))

{3, 4, 5, 6}
{3, 4, 5, 6}

In [12]:
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
print(set1-set2)

{1, 2}

In [14]:
print(set2-set1)

{8, 7}