# 1.1 파이썬 준비하기_230408

[코드 작성 및 실행]
파이썬에서 무언가를 출력하고 싶으면 print()라는 것을 사용합니다.

Print() 함수는 () 안의 내용을 출력해줍니다.

In [131]:
print("안녕하세요")

안녕하세요

# 2 자료형

## 2.1 변수와 상수

### [변수 선언하기]

**변수**는 `숫자나 문자열` 같은 데이터를 저장할 수 있는 공간입니다. 
변수에 값을 저장하고  Print() 함수로 값을 출력할 수 있습니다.

In [6]:
a1=2023

In [7]:
a2="안녕하세요."

In [8]:
a1+a2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### [변수명 규칙]

**변수명**에는 반드시 `문자 또는 언더바`로 시작되어야 하며, 숫자로 시작할 수 없습니다. 
또한 `예약어`를 사용하면 에러가 발생합니다.

In [9]:
print(a1)

2023

In [10]:
print(a2)

안녕하세요.

In [11]:
a=0128

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2682938444.py, line 1)

In [12]:
a=1234

In [13]:
print(a)

1234

In [14]:
print(A)

NameError: name 'A' is not defined

### [상수 사용하기]

숫자 상수는 그대로 표시하지만 문자나 문자열 상수는 `작은따옴표 또는 큰따옴표`로 감싸줍니다.

In [15]:
print('A')

A

In [16]:
print(20)

20

In [17]:
print("선생님")

선생님

In [18]:
x=5

In [19]:
y=7

In [20]:
x+y

12

In [21]:
y=x+5

In [22]:
print(y)

10

In [23]:
s="선생님"

In [24]:
s=s+","+"안녕하세요!"

In [25]:
print(s)

선생님,안녕하세요!

## 2.2 기본 자료형

### [숫자]

* 정수형

In [26]:
a=678

In [27]:
print(type(a))

<class 'int'>

In [28]:
a=2049

In [29]:
a

2049

In [30]:
a=-3.567

In [31]:
print(type(a))

<class 'float'>

In [32]:
a=63

In [33]:
b=7

In [34]:
print(a/b)

9.0

In [35]:
print(a//b)

9

In [36]:
print(a%b)

0

In [37]:
9**5

59049

In [38]:
abs(-12)

12

In [39]:
round(3.12543,2)

3.13

In [40]:
a="Hello Python!"

In [41]:
a

'Hello Python!'

In [42]:
sen='"민수는 말했다."'

In [43]:
print(sen)

"민수는 말했다."

In [44]:
sen="It's mine."

In [45]:
print(sen)

It's mine.

## 2.2 기본 자료형_230415

#### [문자]

In [2]:
a="Hello Python!"

In [3]:
a

'Hello Python!'

In [4]:
sen="It's mine."

In [5]:
print(sen)

It's mine.

문자열 안에 따옴표를 포함하고 싶을 때는 다른 종류의 따옴표를 사용한다.

In [6]:
sen2='"It is impossible."He says.'

In [7]:
print(sen2)

"It is impossible."He says.

In [8]:
sen3='It/'s mine.

SyntaxError: invalid syntax (199141048.py, line 1)

따옴표를 사용하지 않고 문자열에 따옴표를 나타낼 수 있는 방법은 따옴표 앞에 백슬래시는 넣는다. 백슬래시는 원화표시로 나타낼 수 있다.

In [11]:
sen3='It\'s mine.'
sen4="\"It is impossible.\" He says."

In [10]:
print(sen3)

It's mine.

In [12]:
print(sen4)

"It is impossible." He says.

문자를 여러줄로 나타내고 싶을 때는 따옴표를 연속으로 세개를 사용하여 줄바꿈을 하거나, 줄바꿈을 하고 싶은 문구 앞에 \n를 사용한다.

In [13]:
a="""Hello!
Python!"""

In [14]:
print(a)

Hello!
Python!

In [15]:
a="Hello! \n Python!"

In [16]:
print(a)

Hello!
 Python!

In [29]:
문자열도 연산이 가능하며, 문자열의 변수를 더할 수 있다.

SyntaxError: invalid syntax (2372861234.py, line 1)

In [20]:
a= "Hello!"  
b= "Python!" 
a+b
a+b

'Hello!Python!'

In [21]:
a + b

'Hello!Python!'

In [22]:
a+b

'Hello!Python!'

In [23]:
print(a+b)

Hello!Python!

In [25]:
a = "Hello! "
b = "Python!"
a+b

'Hello! Python!'

In [26]:
a*3

'Hello! Hello! Hello! '

In [27]:
a="26"
b="3"
a+b

'263'

In [28]:
a*3

'262626'

문자열 자료형은 각 문자마다 순서대로 번호를 부여할 수 있고, 이를 문자열 인덱싱이라고 한다. 
이 번호를 통해 **문자의 위치를 확인**하고, **특정 위치에서 문자열을 잘라**낼 수 있다.

In [30]:
a="Hello! Python!"

In [31]:
a[-1]

'!'

In [32]:
a[3]

'l'

슬라이싱은 인덱싱 번호를 사용해 문자열을 원하는 길이만큼 잘라낼 수 있다. 
문자열[시작번호:끝번호] 또는 변수명[시작번호:끝번호]

__*끝번호까지 잘라내는 것이 아니라 끝번호 바로 앞 번호까지 잘라낸다.*__

In [33]:
a[3:9]

'lo! Py'

In [34]:
[3:-4]

SyntaxError: invalid syntax (3178594095.py, line 1)

In [35]:
a[3:-4]

'lo! Pyt'

In [36]:
a[:8]

'Hello! P'

In [37]:
a[3:]

'lo! Python!'

In [38]:
a="Life"
b=a[0:2]+"v"+a[-1]
print(b)

Live

문자열 포맷팅은 문자열 안에 있는 어떤 값을 바꿀 때 사용한다. 

"문구 %s 문구" %문자(또는 숫자)
"문구 %s 문구" %변수명

In [39]:
"I eat %s bananas." %3

'I eat 3 bananas.'

In [40]:
"I eat %s bananas." %"three"

'I eat three bananas.'

In [41]:
"I like %s color." %"blue"

'I like blue color.'

In [42]:
color="blue"
"I like %s color." %color

'I like blue color.'

자주 사용하는 포맷팅 코드는 숫자 포맷 코드(%d 또는 %f), 문자열(%s)이다

In [44]:
ar="%15s" %"hello"
ar

'          hello'

In [45]:
ar="%-15s" %"hello"
ar

'hello          '

In [46]:
ar="John%10s" %"hello"
print(ar)

John     hello

In [48]:
a="%4d" %34
a

'  34'

#공백을 10개 만들고 실수를 소수점 둘쨰 자리까지 오른쪽 정렬

In [50]:
b="%10.2f" %5.6182359
b

'      5.62'

문자열 포맷팅은 %연산자 대신 format()함수를 사용할수도 있다. 
  
  인덱스는 {} 중괄호로 표현한다. 인덱스로 변경할 위치를 지정하고, .format()으로 값을 정한다.

In [52]:
test="I need {} eggs." .format(5)
print(test)

I need 5 eggs.

포맷할 값이 여러개라면 값을 변수로 지정한 다음에 인덱스에 출력할 수 있다.

In [54]:
color="white"
num=5
test="I like {} egg. I need {} eggs.".format(color,num)
print(test)

I like white egg. I need 5 eggs.

In [55]:
a="{:.2f}".format(5.6182359)
print(a)

5.62

In [58]:
x=5.36182359
a="{:15.2f}".format(x)
print(a)

           5.36

문자 개수를 세는 함수는 count() 함수이다. 변수a의 문자열에 포함된 문자의 개수를 셀 떄 유용하다.

In [59]:
a="I eat banana."
a.count("n")

2

find()와 index() 함수는 찾고 싶은 문자의 위치를 찾아 인덱스 값을 반환해준다.  
문자열 안에서 찾는 문자의 첫번째 위치의 문자 인덱스 값을 나타낸다.

In [60]:
a="I eat banana."
print(a.find("n"))
print(a.index("n"))

8
8

찾는 문자가 없는 경우 find() 함수는 -1 값을 돌려주고, index()함수는 에러를 발생시킨다.

In [61]:
print(a.find("d"))
print(a.index("d"))

-1

ValueError: substring not found

join()함수는 문자열 안에 값을 삽입할 수 있다.

In [62]:
b=",".join("fruit")
print(b)

f,r,u,i,t

upper()함수는 소문자를 대문자로 바꾸고, lower()함수는 대문자를 소문자로 바꾼다.

In [63]:
a="Hello!"
print(a.upper())
print(a.lower())

HELLO!
hello!

strip() 함수는 문자열 사이 공백을 지울 수 있으며, strip()함수는 문자열 양쪽 공백, lstrip()함수는 왼쪽 공백, rstrip()함수는 오른쪽 공백을 제거한다.   
한줄에 여러 문장을 작성할 때는 세미콜론으로 구분한다.

In [65]:
a="    Hello   "
print(a.strip());print(a.lstrip());print(a.rstrip())

Hello
Hello
    Hello

split()함수는 구분자를 생략하여 공백을 문자열로 나눈다.   
만약 구분자를 지정하면 구분자를 기준으로 공백을 나눈다.

In [67]:
a="I eat banana."
a.split()

['I', 'eat', 'banana.']

In [68]:
a="a:b:C:d:v"
a.split(':')

['a', 'b', 'C', 'd', 'v']

replace()함수는 문자열의 값을 원하는 값으로 대체할 수 있다. replace(찾을 값, 바꿀 값, 횟수)를 입력하면 변경하능하다.

In [70]:
a="I eat banana."
print(a.replace("a","b",1))
print(a.replace("a","b"))

I ebt banana.
I ebt bbnbnb.

bool은 논리적으로 참과 거짓을 나타낸다.

In [71]:
print(1==1)
print(10<8)

True
False

bool()함수 조건에 맞는 값의 경우 bool()함수가 판단한 값을 출력한다.  
해당 문자가 있는 경우 true, 비어있는 경우 false를 출력한다.

In [72]:
print(bool("Python"))
print(bool(None))

True
False

In [73]:
bool("")

False

In [76]:
bool(" ")
bool([1,2,3])
bool([])
bool(())
bool(0)

False

# 복습

In [6]:
a=359
a

359

In [5]:
a=359
print(type(a))

<class 'int'>

In [7]:
a=-3.6159
print(type(a))

<class 'float'>

In [8]:
a=27
b=9
a+b

36

In [9]:
a-b

18

In [10]:
a*b

243

In [11]:
print(a/b)

3.0

In [12]:
print(a//b)

3

In [13]:
print(a%b)

0

In [14]:
4**3

64

In [15]:
3+2**3/(5-3)

7.0

In [16]:
abs(-3)

3

In [17]:
round(3.14159,3)

3.142

In [18]:
a=0o467
b=0x7fc
print(a)
print(b)

311
2044

In [19]:
a="Hello Python!"
a

'Hello Python!'

In [21]:
type(a)

str

In [22]:
sen="It's mine."
print(sen)

It's mine.

In [23]:
sen2='"It is impossible."He says.'
print(sen2)

"It is impossible."He says.

In [24]:
sen3='It\'s mine.'
sen4="\"It is impossible.\" He says."
print(sen3)
print(sen4)

It's mine.
"It is impossible." He says.

In [25]:
a="""Hello!
Python!"""
print(a)

Hello!
Python!

In [26]:
a="Hello! \nPython!"
print(a)

Hello!
Python!

In [29]:
a="Hello \n\n\nPython!"
print(a)

Hello


Python!

In [32]:
a="Hello \'Python!'"
a

"Hello 'Python!'"

In [44]:
a="Hello \tPython!"
print(a)

Hello 	Python!

In [45]:
a="Hello!"
b="Python!"
print(a+b)

Hello!Python!

In [46]:
a*3

'Hello!Hello!Hello!'

In [47]:
a*7

'Hello!Hello!Hello!Hello!Hello!Hello!Hello!'

In [48]:
a="26"
b="3"
a+b

'263'

In [49]:
a*7

'26262626262626'

In [50]:
(a+b)*3

'263263263'